@import '../../_settings/_variables.css';

.button {
    color: white;
    margin-right: 10px;
    margin-left: 5px;
}

.odd-button {
    background-color: var(--odd-button-color);
}

.last {
    margin-right: 30px;
}

.arrow {
    background-color: black;
}
